/* Contenitore principale del portfolio */
.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 40px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  //max-width: 1200px;
  margin: 0 auto;
}

/* Sezione immagine */
.image-section {
  flex: 1;
  padding: 10px;
}

.profile-image {
  max-width: 100%;
  border-radius: 10px;
}

/* Sezione informazioni */
.info-section {
  flex: 2;
  padding: 20px;
}

.info-section .current-role {
  font-size: 24px;
  color: #333;
  display: inline-block; /* Mantiene lo stile in linea */
  font-weight: bold;
}

.info-section p.introduction {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.contact-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

/* Sezione di contatto */
.contact-section {
  display: none;
  padding: 20px;
  margin-top: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contact-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Responsività */
@media (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
    text-align: center;
  }

  .image-section, .info-section {
    flex: none;
    width: 100%;
    padding: 10px;
  }
}


.animated-number {
  font-weight: bold;
  background: linear-gradient(to right, #007BFF, #0056b3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease, -webkit-text-fill-color 0.3s ease;
}

.animated-number:hover {
  background-position: 100%;
  -webkit-text-fill-color: #007BFF;
}
