<div class="portfolio-container">
  <div class="image-section">
    <img src="./assets/profilePic/yl.jpg" alt="Profile Image" class="profile-image">
  </div>
  <div class="info-section">
    <h2>{{ currentRole }}</h2>
    <p class="introduction">
      Ciao, sono Yohannes, un appassionato di tecnologia con una forte propensione verso lo sviluppo software. Mi piace creare soluzioni innovative e trovare nuovi modi per migliorare l'esperienza utente.
    </p>
    <button class="contact-button" (click)="scrollToContact()">Contact Us</button>
  </div>
</div>

<!-- Sezione di contatto nascosta -->
<div id="contact-section" class="contact-section">
  <h3>Contact Me</h3>
  <form>
    <!-- Aggiungi il contenuto del modulo di contatto qui -->
  </form>
</div>
