nav {
  position: fixed; /* Fissa la navbar in cima */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  .logo {
    width: 6%;
  }
  background-color: var( --primary-color);
  li a {
    color: white;
  }
  .btnNav{
    background-color: var( --accent-color);
  }


  // ACTIVE LINKS
  .navbar-nav .nav-item.active .nav-link {
    background-color: var(--accent-color);
    color: white;
  }
}

/* Gestione dell'allineamento su dispositivi mobili */
@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }

  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 10px 0;
  }

  /* Centra il form di ricerca e il pulsante "Sign up" sotto i link */
  .navbar-collapse form,
  .navbar-collapse a.btn {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }
}

@media (min-width: 991.98px) {
  .commerce{
    margin-right: 20px;
  }
}

