<div class="container col-xxl-8 px-4 py-5 my-5">
  <div class="row align-items-center g-5 py-5 vertical-center">
    <div class="col-lg-6 d-flex flex-column align-items-center">
      <img src="../../../assets/img/epicode_logo.png" class="logo">
      <img class="snap" src="../../../assets/img/snap.png">
    </div>
    <div class="col-lg-6 text-end text-white">
      <h1 class="display-5 fw-bold lh-1 mb-3">Benvenuta/o su
        <br>
        <span class="fst-italic text-primary epicode">Epicode Snap!</span>
      </h1>
      <p class="lead">
        UniMusic a platform where you can listen your favourite Music<br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Quia libero ipsa adipisci ipsum perspiciatis? Maxime est temporibus sit sint consectetur a exercitationem,
        dolorum impedit distinctio quam? Ratione ullam pariatur ducimus.
        <br>Che aspetti?
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-end">
        <button routerLink="login" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Accedi</button>
        <button routerLink="sign-up" type="button" class="btn btn-outline-light btn-lg px-4">Registrati</button>
      </div>
    </div>
  </div>
</div>
