/* You can add global styles to this file, and also import other style files */
// palette colori sito
:root {
  --primary-color: #121212;
  --secondary-color: #F0F0F0;
  --accent-color: #FF5733;
  --text-color: #FFFFFF;
}

:root {
  /* Colori di sfondo */
  --primary-color: #121212; /* Sfondo per il tema scuro */
  --secondary-color: #F0F0F0; /* Sfondo per il tema chiaro */

  /* Colori del testo */
  --text-color-dark: #F0F0F0; /* Testo chiaro per il tema scuro */
  --text-color-light: #000000; /* Testo scuro per il tema chiaro */
  --secondary-text-color-dark: #CCCCCC; /* Testo secondario chiaro per il tema scuro */
  --secondary-text-color-light: #000000; /* Testo secondario scuro per il tema chiaro */

  /* Colori accento */
  --accent-color: #FF5733;
  --accent-color-light: #007BFF; /* Blu per il tema chiaro */

  /* Colore navbar */
  --navbar-background-color: #000000; /* Nero fisso per la navbar */
  --navbar-text-color: #FFFFFF; /* Testo bianco fisso per la navbar */
}

body {
  background-color: rgb(36, 150, 159) !important;
  color: var(--text-color-dark); /* Testo chiaro di default */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme {
  background-color: var(--secondary-color); /* Sfondo chiaro */
  color: var(--text-color-light); /* Testo scuro */
}

body.dark-theme {
  background-color: var(--primary-color); /* Sfondo scuro */
  color: var(--text-color-dark); /* Testo chiaro */
}

h1, h2, h3, h4, h5, h6, p, a, .custom-text {
  transition: color 0.3s ease;
}

body.light-theme h1, body.light-theme h2, body.light-theme h3,
body.light-theme h4, body.light-theme h5, body.light-theme h6,
body.light-theme p, body.light-theme a, body.light-theme .custom-text {
  color: var(--text-color-light); /* Testo scuro nel tema chiaro */
}

body.dark-theme h1, body.dark-theme h2, body.dark-theme h3,
body.dark-theme h4, body.dark-theme h5, body.dark-theme h6,
body.dark-theme p, body.dark-theme a, body.dark-theme .custom-text {
  color: var(--text-color-dark); /* Testo chiaro nel tema scuro */
}

/* Colore secondario per testi meno importanti */
.secondary-text {
  color: var(--secondary-text-color-dark);
}

body.light-theme .secondary-text {
  color: var(--secondary-text-color-light);
}

/* Colore accento per collegamenti, bottoni, ecc. */
.accent {
  color: var(--accent-color-dark);
}

body.light-theme .accent {
  color: var(--accent-color-light);
}

/* Stile fisso per la navbar */
.navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Assicurati che i link all'interno della navbar siano leggibili */
.navbar a {
  color: var(--navbar-text-color);
}

/* Altre regole per evitare che la navbar venga influenzata */
body.light-theme .navbar,
body.dark-theme .navbar {
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
}






