.slider.custom-slider {
  --width: 350px;
  --height: 300px;
  --quantity: 10;
  --duration: 5s; /* Aggiunto per controllare la durata dell'animazione */

  margin-top: 20px; /* Assicura un margine sopra il carousel */
  width: 100%;
  height: var(--height);
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  margin-bottom: 20px;

  .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;

    .item {
      width: var(--width);
      height: var(--height);
      position: absolute;
      left: 100%;
      animation: autoRun var(--duration) linear infinite; /* Usa la variabile per controllare la durata dell'animazione */
      transition: filter 0.5s;
      animation-delay: calc((var(--duration) / var(--quantity)) * var(--position)); /* Usa la variabile per ritardo animazione */

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(var(--width) * -1);
    }
  }

  &:hover .item {
    animation-play-state: paused !important;
    filter: grayscale(1);
  }

  .item:hover {
    filter: grayscale(0);
  }
}
/* Stile per il pulsante di controllo dell'animazione */
.control-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.control-button:hover {
  background-color: var(--accent-color);
}
