/* Footer */
.site-footer {
  color: #fff;
  padding: 20px 0;
}

.site-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer .footer-content {
  display: flex;
  flex-direction: column;
}

.site-footer .footer-left {
  text-align: center;
  margin-bottom: 10px;
}

.site-footer .footer-left p {
  margin: 0;
}

.site-footer .footer-links a {
  color: #fff;
  margin-right: 10px;
}

.site-footer .footer-links a:hover {
  text-decoration: underline;
}

.site-footer .footer-right {
  text-align: center;
}

.site-footer .footer-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-footer .footer-nav li {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .portfolio-container {
    flex-direction: column;
    text-align: center;
  }

  .image-section, .info-section {
    flex: none;
    width: 100%;
    padding: 10px;
  }
}
