<footer class="site-footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-left">
        <p>&copy; 2024 Yohannes Luminari. All rights reserved.</p>
        <div class="footer-links">
          <a href="https://github.com/YohannesLuminari" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/yohannes-luminari/" target="_blank">LinkedIn</a>
        </div>
      </div>
      <div class="footer-right">
        <!-- <ul class="footer-nav">
          <li><a routerLink="/" [ngClass]="{ 'active': isLinkActive('/') }">Home</a></li>
          <li><a routerLink="/pages/profile" [ngClass]="{ 'active': isLinkActive('/pages/profile') }">Profile</a></li>
          <li><a routerLink="/pages/quiz" [ngClass]="{ 'active': isLinkActive('/pages/quiz') }">Quiz</a></li>
          <li><a routerLink="/pages/musicPlayer" [ngClass]="{ 'active': isLinkActive('/pages/musicPlayer') }">Music Player</a></li>
        </ul> -->
      </div>

    </div>
  </div>
</footer>

