<div class="container">
    <div class="cube">
      <div style="--x:-1; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(0)"></span>
        <span style="--i:2;" (click)="toggleAudio(1)"></span>
        <span style="--i:1;" (click)="toggleAudio(2)"></span>
      </div>
      <div style="--x:0; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(3)"></span>
        <span style="--i:2;" (click)="toggleAudio(4)"></span>
        <span style="--i:1;" (click)="toggleAudio(5)"></span>
      </div>
      <div style="--x:1; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(6)"></span>
        <span style="--i:2;" (click)="toggleAudio(7)"></span>
        <span style="--i:1;" (click)="toggleAudio(8)"></span>
      </div>
    </div>
    <div class="cube">
      <div style="--x:-1; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(9)"></span>
        <span style="--i:2;" (click)="toggleAudio(10)"></span>
        <span style="--i:1;" (click)="toggleAudio(11)"></span>
      </div>
      <div style="--x:0; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(12)"></span>
        <span style="--i:2;" (click)="toggleAudio(13)"></span>
        <span style="--i:1;" (click)="toggleAudio(14)"></span>
      </div>
      <div style="--x:1; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(15)"></span>
        <span style="--i:2;" (click)="toggleAudio(16)"></span>
        <span style="--i:1;" (click)="toggleAudio(17)"></span>
      </div>
    </div>
    <div class="cube">
      <div style="--x:-1; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(18)"></span>
        <span style="--i:2;" (click)="toggleAudio(19)"></span>
        <span style="--i:1;" (click)="toggleAudio(20)"></span>
      </div>
      <div style="--x:0; --y:0;">
        <span style="--i:3;" (click)="toggleAudio(21)"></span>
        <span style="--i:2;" (click)="toggleAudio(22)"></span>
        <span style="--i:1;" (click)="toggleAudio(23)"></span>
      </div>
    </div>
</div>


